*.la
*.o
*.lo
*.so
*.a
*.m4
*.in
*.tar.gz
*.log
*.pc
*.spec
.deps
.libs
Makefile
m4

libtool
missing
ltmain.sh
install-sh
depcomp
configure
config.sub
config.log
config.status
config.guess
autom4te.cache
compile

natus/natus
tests/runjstest
tests/native/cxx_*
!tests/native/*.cc
